.navbar.bg.sticky-top.p-2.m-2.navigation.bg-primary {
    background-color: rgb(50,50,98) !important;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.offcanvas-body {
    background-color: white !important;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
/* .nav-item {
    background-color: white !important;
    color: white;
    font-family: 'Montserrat', sans-serif;
} */
.offcanvas-header {
background-color: rgb(50,50,98) !important;
color: white;
}
nav{
    background-color: black !important;
    color: white !important;
}
.navbar-nav {
    display: flex !important;
    flex-direction: row !important;
    margin: 5px !important;
    padding: 5px !important;
    gap: 10px !important;
  
    list-style: none !important;
  }
  .nav-link {
    text-decoration: none !important;
    color: white !important;
  }
  .nav-link:hover {
    color: blue !important;
  }