body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: black;
 
}

.size {
  height: 4.9rem;
}

.btn.btn-success {
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}

.colour {
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.h-4 {
  font-size: 0.9rem;
}

.width {
  width: 12rem;
}

.hero-section {
  min-height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  width: 100%;
}
@media (max-width: 1000px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 620px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.card {
  list-style: none;
  position: relative;
  transition: all 0.5s ease-out;
}
.card__bg {
  position: relative;
  height: 50vh;
  min-width: 250px;
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  overflow: hidden;
  transform: scale(1);
  transition: all 0.5s ease-out;
}
.card__bg::after {
  content: "";
  background-image: linear-gradient(360deg, black, transparent);
  height: 150px;
  bottom: 0;
  width: 100%;
  position: absolute;
}
.card__content {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.card__category {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #acacac;
}
.card:hover {
  transform: scale(1.02);
  filter: drop-shadow(0px 0px 100px #acacac);
}
.card-grid:hover > .card:not(:hover).card {
  filter: brightness(0.8) grayscale(0.6) contrast(1.2) blur(10px);
}

.img-0 {
  width: 100%;
  height: 42rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  width: 30%;
  margin: 0.56rem;
  border: transparent;
}

.img-1 {
  width: 22rem;
  height: 12.5rem;
  border-radius: 0.62rem;
}

/* .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

@media only screen and (max-width: 600px) {
  .cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .card {
    width: 27rem;
  }

  .img-1 {
    width: 27rem;
  }
}

.home-banner {
  background-image: url(https://i.postimg.cc/nL5SmF48/onur-binay-9j-LI9-Ux6-IFo-unsplash.jpg);
  min-height: 90vh;
  background-size: cover;
  min-width: 100%;
}

.h-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: black 4px 5px 2px;
  font-size: 3.2rem;
}

.h-01 {
  font-weight: 800;
  color: white;
}

.shad {
  text-shadow: black 4px 5px 2px;
}

.header-text {
  position: absolute;
  top: 60%;
  text-align: center;
  left: 47%;
  transform: translate(-50%, -50%);
}

.drop {
  position: absolute;
  top: 90%;
  left: 35%;
}

@media only screen and (max-width: 300px) {
  .cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .card {
    width: 18rem;
  }

  .img-1 {
    width: 17rem;
  }

  nav {
    width: 21rem;
  }

  .wrapper {
    width: 21rem;
  }
  footer {
    width: 21rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat&family=Raleway&display=swap");